/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
@layer base {
  a:hover {
    @apply underline;
  }
  h1, h2 {
    @apply text-lg;
    @apply font-bold;
  }
}

h1, h2 {
  padding-bottom: 1rem;
}
p {
  padding-bottom: 1rem;
}
